{{define "main"}}

<!--$paginator-->
{{$p := .Pages}}
{{ $currentDepth := strings.Count "/" .Permalink }}
{{$paginator := .Paginate $p}}

<!--list-->
<ul class="index photos">
	{{range $paginator.Pages}}
    {{ $pageDepth := strings.Count "/" .Permalink }}
    {{ if eq $pageDepth (add $currentDepth 1) }}
      <li>
        <div>{{.Date.Format "January 2006"}}</div>
        <a href="{{.RelPermalink}}">{{.Title}}</a>
      </li>
  {{ end }}
	{{end}}
</ul>

<!--pagination-->
{{template "_internal/pagination.html" .}}

{{end}}
