<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="og:image" content="{{ .Site.Params.opengraph.image | relURL }}">
<title>{{ .Site.Title }}</title>
<link rel="stylesheet" href="/css/base.css">
{{ range .Site.Params.css -}}
    <link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ "blog/index.xml" | absURL }}">
